<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WeatherRender.Properties.Settings.WEATHERConnectionString"
      connectionString="Data Source=172.12.12.50;Initial Catalog=WEATHER;Persist Security Info=True;User ID=8668;Password=09112064568"
      providerName="System.Data.SqlClient" />
    <add name="WeatherRender.Properties.Settings.AutoScheduleConnectionString"
      connectionString="Data Source=192.168.100.73;Initial Catalog=AutoSchedule;Persist Security Info=True;User ID=comingup;Password=comingup"
      providerName="System.Data.SqlClient" />
    <add name="WeatherRender.Properties.Settings.CONDUCTORConnectionString"
      connectionString="Data Source=172.12.12.50;Initial Catalog=CONDUCTOR;Persist Security Info=True;User ID=8668;Password=09112064568"
      providerName="System.Data.SqlClient" />
    <add name="WeatherRender.Properties.Settings.NEWS_GENConnectionString"
      connectionString="Data Source=172.12.12.50;Initial Catalog=NEWS_GEN;User ID=8668;Password=09112064568"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AeRenderPath" value="C:\Program Files\Adobe\Adobe After Effects CC\Support Files\aerender.exe"/>
    <add key="OutputPath" value="D:\OutPutVideo\"/>
    <add key="OutputPathFile" value="D:\OutPutVideo\W.avi"/>
    <add key="PlayOutRoot" value="\\172.12.12.57\playout$\playout\"/>
    <add key="AeProjectFile" value="D:\AEProjects\Weather\Abo Hava - Portable (CC).aep"/>
    <add key="Composition" value="Havashenasi"/>
    <add key="CitiesRoot" value="D:\AEProjects\Weather\(Footage)\City\"/>
    <add key="ConditionsSourceFolder" value="D:\AEProjects\Weather\(Footage)\All\Video\Icon - Weather\"/>
    <add key="ConductorId" value="287"/>
  <add key="FontName" value="B Yekan"/>
  <add key="FontSize" value="85"/>
  </appSettings>
</configuration>